.battle_bg {
    width: 100%;
    position: absolute;
}

.img_boy_battle {
    width: 41%;
}

.img_girl_battle {
    width: 27%;
    position: absolute;
    right: 0;
    top: 7px;
}

.title_battle {
    color: white;
    font-size: 122px;
    position: absolute;
    top: 40px;
    transform: translate(-40%, 0);
    left: 50%;
    font-family: Rockwell, sans-serif;
    line-height: 1;
}

.desc_battle {
    font-size: 28px;
    color: black;
    position: absolute;
    top: 350px;
    left: 50%;
    transform: translate(-40%, 0);
    text-align: center;
    max-width: 35%;
    font-weight: 700;
    font-family: Mont, sans-serif;
}

.battle_character_desc {
    transition: transform 0.5s ease;
    transform: scale(0.6);
    width: 304px
}

.scale_character {
    transform: scale(0.9);
}

.characters_title {
    font-size: 50px;
    text-align: center;
    margin: 100px auto auto;
    font-family: Rockwell, sans-serif;
}

.all_characters_title {
    font-size: 80px;
}

.characters_desc {
    font-size: 20px;
    text-align: center;
    max-width: 60%;
    margin-bottom: 0;
    font-family: Mont, sans-serif;
    font-weight: 800;
}

.character_img {
    width: 35%;
    position: absolute;
    top: 10px;
    right: 20px;
    vertical-align: bottom;
    object-fit: cover;
    object-position: top;
    height: 500px;
}

.slide_character {
    width: 90vw;
    height: 500px;
    background-color: #FFEB01;
    overflow: hidden;
    border-radius: 20px;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%, 13% 85%, 0 85%);
    position: relative;
}

.slide_character_title {
    font-size: 60px;
    margin-left: 50px;
    margin-top: 70px;
    margin-bottom: 0;
    font-family: Rockwell, sans-serif;
}

.slide_character_desc {
    font-size: 20px;
    margin-left: 50px;
    font-family: Mont, sans-serif;
    font-weight: 800;
    max-width: 50%;
    margin-top: 0;
}

.slide_character_ability {
    font-size: 25px;
    font-weight: 900;
    margin-left: 50px;
    font-family: Rockwell, sans-serif;
    margin-bottom: 0;
    max-width: 60%;
}

.unique_ability_icon {
    width: 50px;
    margin-right: 15px;
    transform: translateY(4px);
}

.slide_character_ability_desc {
    font-size: 17px;
    margin-left: 120px;
    margin-top: 0;
    font-family: Mont, sans-serif;
    font-weight: 800;
    max-width: 50%;
}

.battle_games .swiper-button-next, .battle_games .swiper-button-prev {
    bottom: 0;
    top: initial;
    background-color: #FFEB01;
    padding: 3px 11px;
    color: #000 !important;
    fill: black !important;
    stroke: black !important;
    border-radius: 6px;
}

.swiper-button-next {
    left: 100px;
}

.battle_games .swiper-button-prev:after, .battle_games .swiper-button-next:after {
    font-size: 22px;
    font-weight: 700;
}

.all_characters_bg {
    background-color: #FFEB01;
    width: 100%;
    height: 450px;
    margin-top: 70px;
}

.character_all_img {
    width: 100%;
    transform: translateY(-150px);
}

.stat-card {
    background-color: #FFEB01;
    width: 250px;
    height: 70px;
    position: absolute;
}

.card-left {
    top: 100px;
    left: 15%;
}

.card-right {
    position: absolute;
    top: 100px;
    right: 15%;
}

.large-number {
    font-size: 90px;
    position: absolute;
    top: -100px;
    color: white;
}

.card-left .large-number {
    left: 60px;
}

.card-right .large-number {
    left: 95px;
}

.description {
    font-size: 40px;
    position: absolute;
    top: 5px;
}

.card-left .description {
    left: 70px;
}

.card-right .description {
    left: 40px;
}

.battle_arrow_down {
    clip-path: polygon(0 24%, 49% 67%, 100% 24%, 100% 54%, 50% 100%, 0 54%);
    background-color: #FFEB01;
    position: absolute;
    left: 46%;
    transform: translateX(-50%);
    top: 0;
    width: 100px;
    height: 100px;
    animation: bounceUpDown 3s infinite;
}

.battle_mode_background {
    position: absolute;
    top: 250px;
    width: 80%;
    min-width: 70%;
    height: 770px;
    transform: translateX(-50%);
    left: 50%;
}

.battle_mode_card {
    position: absolute;
    width: 30%;
}

.battle_mode_card_top_left {
    top: 53%;
    left: 18%;
}

.battle_mode_card_top_right {
    top: 53%;
    right: 18%;
}

.battle_mode_card_bottom_left {
    bottom: 15%;
    left: 18%;
}

.battle_mode_card_bottom_right {
    bottom: 15%;
    right: 18%;
}

.battle_mode_image {
    width: 100%;
    position: absolute;
    bottom: 0;
    border-top-left-radius: 10px;
}

.card-right .battle_mode_image {
    border-top-left-radius: 0;
    border-top-right-radius: 10px;
}

.battle_mode_title {
    position: absolute;
    background-color: #FFEB01;
    height: 40px;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    font-size: 25px;
    font-weight: bolder;
    border-bottom-left-radius: 10px;
}

.battle_modes_bg {
    position: relative;
    height: 1050px;
    clip-path: none !important;
}

@media screen and (max-width: 1200px) {
    .img_boy_battle {
        width: 34%;
        transform: translateY(10px);
    }

    .img_girl_battle {
        width: 23%;
        top: 1px
    }

    .battle_bg {
        clip-path: polygon(0% 0%, 0% 85%, 100% 85%, 100% 0%);
    }

    .title_battle {
        font-size: 82px;
    }

    .desc_battle {
        font-size: 20px;
        top: 260px;
        font-weight: 800;
        max-width: 38%;
    }

    .battle_character_desc {
        width: 200px;
    }

    .slide_character_title {
        font-size: 50px;
        margin-bottom: 0;
    }

    .slide_character_desc {
        font-size: 17px;
    }

    .slide_character_ability {
        font-size: 20px;
    }

    .unique_ability_icon {
        width: 40px;
    }

    .slide_character_ability_desc {
        font-size: 15px;
        margin-left: 105px;
    }

    .all_characters_bg {
        height: 300px;
    }

    .slide_character {
        clip-path: polygon(0 0, 100% 0, 100% 100%, 30% 100%, 23% 85%, 0 85%);
    }
}

@media screen and (max-width: 900px) {
    .all_characters_title {
        font-size: 60px;
    }

    .all_characters_bg {
        margin-top: 100px;
    }

    .battle_mode_background {
        height: 500px;
    }

    .battle_modes_bg {
        height: 780px;
        object-fit: cover;
    }

    .battle_mode_card_top_right, .battle_mode_card_top_left {
        top: 56%;
    }

    .battle_mode_title {
        padding-top: 15px;
        font-size: 20px;
    }

    .card-left {
        left: 10%;
    }

    .card-right {
        right: 10%;
    }

    .battle_arrow_down {
        width: 60px;
        height: 60px;
    }

    .all_characters_bg {
        height: 200px;
    }

    .title_battle {
        top: 0;
        font-size: 70px;
    }

    .desc_battle {
        top: 170px;
        font-size: 18px;
    }

    .characters_title {
        font-size: 35px;
    }
}

@media screen and (max-width: 700px) {
    .all_characters_bg {
        width: 100%;
        height: 150px;
        margin-top: 70px;
    }

    .character_all_img {
        transform: translateY(-60px);
    }

    .stat-card {
        width: 150px;
    }

    .card-left .large-number {
        left: 10px;
    }

    .card-left .description {
        left: 30px;
    }

    .description {
        font-size: 30px;
        top: 15px;
    }

    .card-right .large-number {
        left: 45px;
    }

    .card-right .description {
        left: 10px;
    }

    .battle_character_desc {
        width: 100px;
    }

    .characters_desc {
        font-size: 15px;
        max-width: 95%;
    }

    .characters_title {
        font-size: 25px;
        margin: 200px auto auto;
    }

    .title_battle {
        top: 0;
        font-size: 40px;
    }

    .desc_battle {
        top: 100px;
        font-size: 15px;
        max-width: 55%;
        left: 0;
        transform: none;
        margin-left: 25%;
    }

    .battle_bg {
        clip-path: none;
        height: 400px;
    }

    .img_boy_battle {
        transform: translateY(150px) translateX(-20px);
        height: 250px;
        width: 212px;
    }

    .img_girl_battle {
        height: 250px;
        width: 140px;
        top: 150px;
    }

    .characters_title {
        font-size: 20px;
        margin: 80px auto auto;
    }

    .characters_desc {
        font-size: 12px;
    }

    .slide_character {
        width: 95vw;
        height: 500px;
        clip-path: polygon(0 0, 100% 0, 100% 100%, 40% 100%, 30% 85%, 0 85%);
    }

    .character_img {
        width: 50%;
        position: absolute;
        bottom: 0;
        top: initial;
        right: 20px;
        height: 250px;
    }

    .slide_character_title {
        font-size: 20px;
        margin-bottom: 0;
        margin-left: 20px;
        margin-top: 40px;
    }

    .slide_character_desc {
        font-size: 12px;
        margin-left: 20px;
        max-width: 90%;
    }

    .slide_character_ability {
        font-size: 13px;
        max-width: 100%;
        margin-left: 20px;
    }

    .unique_ability_icon {
        width: 25px;
        margin-right: 0;
        transform: translateY(2px);
    }

    .slide_character_ability_desc {
        font-size: 10px;
        margin-left: 45px;
        max-width: 70%;
    }

    .battle_games .swiper-button-next, .battle_games .swiper-button-prev {
        padding: 0 5px;
    }

    .swiper-button-next {
        left: 60px;
    }

    .battle_games .swiper-button-prev:after, .battle_games .swiper-button-next:after {
        font-size: 15px;
    }

    .battle_modes_bg {
        height: 1200px;
        object-fit: cover;
    }

    .card-left, .card-right {
        top: 50px;
    }

    .battle_arrow_down {
        animation: bounceUpDownMobile 3s infinite;
        top: 130px;
        left: 43%;
    }

    .battle_mode_background {
        height: 900px;
    }

    .battle_mode_card {
        width: 220px;
    }

    .battle_mode_card_top_left {
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
    }

    .battle_mode_card_top_right {
        top: 53%;
        left: 50%;
        transform: translateX(-50%);
    }

    .battle_mode_card_bottom_left {
        bottom: 29%;
        left: 50%;
        transform: translateX(-50%);
    }

    .battle_mode_card_bottom_right {
        bottom: 11%;
        left: 50%;
        transform: translateX(-50%);
    }
}

@keyframes bounceUpDown {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(150px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes bounceUpDownMobile {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(50px);
    }

    100% {
        transform: translateY(0);
    }
}